<div class="container">
  <h1>The Grand Quiz App</h1>
  <div class="rules">
    <ul>
      <li>1. There are 5 questions and player will get 30 sec for each question.</li>
      <li>2. For every correct answer player will get 2 points added in existing score.</li>
      <li>3. For every wrong answer 2 points will get deducted from existing score.</li>
      <li>4. If question not attempted in given time limit score neither be deucted nor be increased.</li>
      <li>Best Luck !!!</li>
    </ul>
  </div>
  <a routerLink="/game-page" class="startButton">Start Game</a>
</div>